################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/BrainStorm/FileContentIndex
/.vs/BrainStorm
/bin/Debug/net8.0-windows
/.vs/ProjectEvaluation
/ROADMAP.txt
